.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(224, 224, 224);
}

@media only screen and (min-width: 600px) {
  .Covid19App {
    min-width: 70%;
  }
}

.Covid19App {
  background: white;
  height: 100vh;
}

.formLabel {
  height: var(--_ui5_switch_height);
  vertical-align: middle;
  width: 70%;
  word-wrap: normal;
}

.eligibilityBtn {
  display: flex;
  justify-content: center;
}

.headerShellBar {
  background-color: #354a5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  color: white;
}

.shellBarLeft {
  justify-content: flex-start;
  margin-right: 4rem;
}

.shellBarCenter {
  justify-content: center;
  align-items: center;
}

.shellBarRight {
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
  display: block;
}

.shellBarIconBtn {
  color: white;
  background-color: transparent !important;
}
.shellBarBtn {
  color: white;
  background-color: transparent !important;
  align-self: center;
}

.dialogFooterBtn {
  display: flex;
  align-self: center;
}
