.App {
  /* text-align: center; */
}

.formLabel {
  height: var(--_ui5_switch_height);
  vertical-align: middle;
  width: 70%;
  word-wrap: normal;
}

.eligibilityBtn {
  display: flex;
  justify-content: center;
}
