.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#bcbcbc, #354a5f);
}

@media only screen and (min-width: 600px) {
  .Covid19App {
    min-width: 70%;
  }
}

.Covid19App {
  background: white;
  min-height: 100vh;
}

.formLabel {
  height: var(--_ui5_switch_height);
  vertical-align: middle;
  width: 70%;
  word-wrap: normal;
}

.eligibilityBtn {
  display: flex;
  justify-content: center;
}

.headerShellBar {
  background-color: #354a5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  color: white;
}

.shellBarLeft {
  justify-content: flex-start;
  margin-right: 4rem;
}

.shellBarCenter {
  justify-content: center;
  align-items: center;
}

.shellBarRight {
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
  display: block;
}

.shellBarIconBtn {
  color: white;
  background-color: transparent !important;
}
.shellBarBtn {
  color: white;
  background-color: transparent !important;
  align-self: center;
}

.dialogFooterBtn {
  display: flex;
  align-self: center;
}
.boldText{
  font-weight: 800;
}

@media only screen and (min-width: 600px) {
  .socialDistanceCarousel {
    max-width: 400px !important;
  }
  .carouselIntroText{
    max-width: 400px !important;
  }
}
.socialDistanceCarousel{
  margin-top: 3px;
}

.carouselIntroText{
  width: 90%;
}

.carouselText {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 800;
}
.newLineWrap {
  white-space: pre-wrap;
}

.subHeaderText{
  font-style: italic;
}